<!DOCTYPE html>
<html lang="en">
  <head>
    {{>templates/head.html}}
  </head>
  <body class="container">
    {{>templates/header.html}}

    <div class="container">
      <h1>Contact</h1>
      <ul>
        <li>Charles Van der Henst</li>
        <li>Adam Valcek</li>
        <li>VIB Bioinformatics Core</li>
      </ul>
    </div>

    <div class="container">
      <h1>Software</h1>
      <ul>
        <li><a href="https://hackage.haskell.org/package/slick">Slick static site generator</a></li>
        <li><a href="https://getbootstrap.com/">Bootstrap web framework</a></li>
        <li><a href="https://nixos.org/">Nix reprodicible package manager</a></li>
      </ul>
    </div>
  </body>
</html>
