<!DOCTYPE html>
<html lang="en">
  <head>
    {{>templates/head.html}}
  </head>
  <body>
    {{>templates/header.html}}

    <div class="container">
      <h2 class="vib-h2 text-vib-blue">Contact</h2>
      <ul>
        <li><a href="https://vib.be/labs/van-der-henst-lab" target="_blank">Charles Van der Henst</a></li>
        <li><a href="https://vib.be/labs/van-der-henst-lab" target="_blank">Adam Valcek</a></li>
        <li><a href="https://vib.be/labs/vib-bioinformatics-core" target="_blank">VIB Bioinformatics Core</a></li>
      </ul>

      <h2 class="vib-h2 text-vib-blue">Software</h2>
      <ul>
        <li><a href="https://github.com/vibbits/acinetobase-static" target="_blank">Site source code</a></li>
        <li><a href="https://hackage.haskell.org/package/slick" target="_blank">Slick static site generator</a></li>
        <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap web framework</a></li>
        <li><a href="https://nixos.org/" target="_blank">Nix reprodicible package manager</a></li>
      </ul>


      <h2 class="vib-h2 text-vib-blue">Copyright</h2>
      <ul>
        <li>Software is licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNU General Public License v3 or any later version</a>.</li>
        <li>Images and text are licensed under the <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International</a> license.</li>
      </ul>
    </div>

    {{>templates/footer.html}}
  </body>
</html>
