<footer class="container bg-vib-blue">
  <div class="row align-items-center">
    <div class="col">
      <a href="https://www.vub.be" target="_blank">
        <img class="img-fluid" src="/logo_vub.svg" alt="VUB">
      </a>
    </div>

    <div class="col">
      <a href="https://www.vib.be" target="_blank">
        <img class="img-fluid" src="/vib_notag_neg_rgb.jpg" alt="VIB">
      </a>
    </div>

    <div class="col">
      <a href="https://nrchm.wiv-isp.be/fr/centres_ref_labo/Antibiotic_resistant_gram_negative_bacilli/default.aspx" target="_blank">
        <img class="img-fluid" src="/sciensano_logo_225w.png" alt="Antibiotic resistant gram negative bacilli">
      </a>
    </div>

    <div class="col">
      <a href="http://www.vib.be/en/research/departments/Pages/VIB-VUB-Center-for-Structural-Biology.aspx" target="_blank">
        <img class="img-fluid" src="/header_logo_2017.png" alt="VIB-VUB Center for Structural Biology">
      </a>
    </div>

    <div class="col">
      <a href="https://vib.be/labs/vib-bioinformatics-core" target="_blank">
        <img class="img-fluid" src="/bits.png" alt="VIB Bioinformatics Core">
      </a>
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="text-center text-vib-white">&copy; VIB Bioinformatics Core 2021</div>
  </div>
</footer>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
