<footer class="sticky-footer">
      <div class="sticky-footer-l">
        <div class="footer-logos">
          <h3 class="vib-secondary-header bg-vib-blue">PARTNERS</h3>
		  <a href="https://vib.be" target="_blank"><img src="{{baseUrl}}/vib_notag_pos_rgb.png" class="logo-partner" alt="VIB"></a>
		  <a href="https://www.vub.be/" target="_blank"><img src="{{baseUrl}}/VUB_pos.png" class="logo-partner" alt="VUB"></a>
		  <a href="https://vib.be/vib-vub-center-structural-biology" target="_blank"><img src="{{baseUrl}}/VUB-VIB_pos.png" class="logo-partner" alt="VIB-VUB Center for Structural Biology"></a>
		  <a href="https://vib.be/labs/vib-bioinformatics-core" target="_blank"><img src="{{baseUrl}}/bioinformatics_core_rgb_pos.png" class="logo-partner" alt="VIB Bioinformatics Core"></a>
        </div>
      </div>
      <div class="sticky-footer-r">
	  <div class="footer-text">
	  <h3 class="vib-secondary-header bg-vib-blue">ABOUT</h3>
        <div class="bg-vib-blue">&copy; VIB Bioinformatics Core 2021</div>
        <div class="bg-vib-blue">Last update: {{lastUpdate}}</div>
      </div>
	  </div>
</footer>
    
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
