<header class="container bg-vib-blue">
  <div class="row align-items-center">
    <div class="col">
      <img src="/logo.webp" alt="Acinetobase logo">
    </div>
    <div class="col-9">
      <h1 class="vib-main-header text-vib-white">{{siteTitle}}</h1>
      <h3 class="vib-secondary-header text-vib-orange">{{siteDescription}}</h3>
    </div>
  </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a type="button" class="btn vib-btn" href="/">Home</a>
  </div>
</nav>
