<div class="sticky-vib-bar">
    <div class="vib-bar-breadcrumb bg-vib-blue">
    <span><a href="https://vib.be" target="_blank"><img class="logo-small" src="download.svg"></a></span>
    </div>
</div>

<div class="sticky-nav">
    <div class="container-fluid" id="center">
    <span>
      <a type="button" class="btn vib-btn" href="{{baseUrl}}/">HOME</a>
    </span>
	<span>
    <a type="button" class="btn vib-btn" disabled href="{{baseUrl}}/about.html">ABOUT</a>
	</span>
  </div>
</div>

<div class="sticky-banner">
    <div class="banner-small">
    	<div class="container-header-title">
    	<h1 class="vib-main-header text-vib-white">{{siteTitle}}</h1>
    	<h3 class="vib-secondary-header text-vib-white">{{siteDescription}}</h3>
    	</div>
    </div>
</div>
