<div class="d-flex flex-row vib-bar-breadcrumb bg-vib-blue">
  <a href="https://vib.be" target="_blank" rel="noopener noreferrer" class="vib-main-site d-flex justify-content-center align-items-center">
    <img class="vib-logo-small" src="{{baseUrl}}/download.svg" alt="VIB logo">
  </a>
</div>
<nav class="navbar navbar-expand-sm bg-vib-light-grey z2">
  <div class="container-fluid vib-nav">
    <a class="navbar-brand" href="{{baseUrl}}" id="acinetobase-logo">
      <img src="{{baseUrl}}/acinetobase_blue.png" alt="Acinetobase logo" width="90" height="90">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="container-fluid d-flex flex-row-reverse">
        <a class="btn vib-btn {{#page}}{{#about}}disabled{{/about}}{{/page}}" href="{{baseUrl}}/about.html">ABOUT</a>
        <a class="btn vib-btn {{#page}}{{#protocols}}disabled{{/protocols}}{{/page}}" href="{{baseUrl}}/protocols.html">PROTOCOLS</a>
        <a class="btn vib-btn {{#page}}{{#submission}}disabled{{/submission}}{{/page}}" href="{{baseUrl}}/submission.html">SUBMISSION</a>
        <a class="btn vib-btn {{#page}}{{#index}}disabled{{/index}}{{/page}}" href="{{baseUrl}}/">HOME</a>
      </div>
    </div>
  </div>
</nav>
<div class="d-flex flex-column justify-content-center align-items-center text-center banner bg-vib-blue">
  <h1 class="vib-h1 text-vib-white">{{siteTitle}}</h1>
  <h3 class="vib-h3 text-vib-white">{{siteDescription}}</h3>
</div>
