<!DOCTYPE html>
<html lang="en">
  <head>
    {{>templates/head.html}}
  </head>
  <body>
    {{>templates/header.html}}

    <div class="container">
      <h2 class="vib-h2 text-vib-blue">{{name}}</h2>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Strain</th>
            <th scope="col">Capsule locus type</th>
            <th scope="col">Sequence type</th>
            <th scope="col">Outer core lipooligosaccharide type</th>
            {{#genbank}}
            <th scope="col">GenBank</th>
            {{/genbank}}
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{name}}</th>
            <td>{{kl}}</td>
            <td>{{st}}</td>
            <td>{{ocl}}</td>
            {{#genbank}}
            <td><a href="{{genbank}}" target="_blank">GenBank</a></td>
            {{/genbank}}
          </tr>
        </tbody>
      </table>

      <div class="row">
        {{#density}}
        <div class="col d-flex justify-content-center align-items-end">
          <figure class="figure">
            <img src="{{baseUrl}}/{{imageUrl}}/{{name}}_density.png" class="figure-img img-fluid a-fig" alt="Density gradient">
            <figcaption class="figure-caption">Density gradient.</figcaption>
          </figure>
        </div>
        {{/density}}

        {{#colony}}
        <div class="col d-flex justify-content-center align-items-end">
          <figure class="figure">
            <img src="{{baseUrl}}/{{imageUrl}}/{{name}}_colony.jpg" class="figure-img img-fluid a-fig" alt="Macrocolony type">
            <figcaption class="figure-caption">Macrocolony type.</figcaption>
          </figure>
        </div>
        {{/colony}}

        {{#microscope}}
        <div class="col d-flex justify-content-center align-items-end">
          <figure class="figure">
            <img src="{{baseUrl}}/{{imageUrl}}/{{name}}_TEM.png" class="figure-img img-fluid a-fig" alt="Transmission Electron Microscopy">
            <figcaption class="figure-caption">Transmission Electron Microscopy.</figcaption>
          </figure>
        </div>
        {{/microscope}}

        {{#model}}
        <div class="col d-flex justify-content-center align-items-end">
          <figure class="figure">
            <img src="{{baseUrl}}/{{imageUrl}}/{{name}}.png" class="figure-img img-fluid a-fig" alt="Virulence in Galleria mellonella infection models">
            <figcaption class="figure-caption">Virulence in <em>Galleria mellonella</em> infection models.</figcaption>
          </figure>
        </div>
        {{/model}}
      </div>
    </div>

    {{>templates/footer.html}}
  </body>
</html>
