<!DOCTYPE html>
<html lang="en">
  <head>
    {{>templates/head.html}}
  </head>
  <body>
    {{>templates/header.html}}

    <div class="container">
      <p>
        If you would like to submit data to Acinetobase, please do contact us via email.
      </p>

      <h2 class="vib-h2 text-vib-blue">Requirements</h2>
      <ul>
        <li>You are willing to share the strain upon demand.</li>
        <li>You can provide metadata (source of isolation, year...).</li>
        <li>The maximum genetic and phenotypic characterization.</li>
        <li>The hyperlink for the Whole Genome Sequences within a repository (e.g., GenBank) - optimally complete genomes (closed circular genomes).</li>
      </ul>
    </div>

    {{>templates/footer.html}}
  </body>
</html>
