<!DOCTYPE html>
<html lang="en">
  <head>
    {{>templates/head.html}}
  </head>
  <body>
    {{>templates/header.html}}

    <div class="container">
      <p>
        If you would like to submit data to Acinetobase, please do contact us via <a href="https://vanderhenstlab.sites.vib.be/contact" target="_blank">email</a>.
      </p>

      <h2 class="vib-h2 text-vib-blue">Requirements</h2>
      <ul>
        <li>You are willing to share the strain upon demand.</li>
        <li>You can provide information on the strain such as the source of isolation and year (no Protected Health Information).</li>
      </ul>

      <h2 class="vib-h2 text-vib-blue">Optional</h2>
      <ul>
        <li>The maximum genetic and phenotypic characterization.</li>
        <li>The hyperlink for the Whole Genome Sequences within a repository (e.g., GenBank) - optimally complete genomes (closed circular genomes).</li>
        <li>Reference.</li>
      </ul>
    </div>

    {{>templates/footer.html}}
  </body>
</html>
